<div class="container">
<div class="title">
  FOLDERS
</div>
  <div class="row mt-5">
    <div class="col-md-1">
     
    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Folder
          </th>

          <th>
            Open
          </th>
          <th></th>
          <th></th>
       </tr>
        <tr>
          <td>
            <input placeholder="insert name folder" [(ngModel)]="foldertoinsert.nameFolder">
          </td> 
          <td></td>
         <td>
            <button (click)="insert(foldertoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
     
        </tr>
        <tr *ngFor="let folder of folders">
          
          <td>
            <input placeholder="insert name folder" [(ngModel)]="folder.nameFolder">
          </td>
          <td>
            <button [routerLink]="['/admin-dashboard/map']" [queryParams]="{ idFolder: folder.idFolder }">Open</button>
          </td>
          <td>
            <button (click)=update(folder)>Save</button>
          </td>
          <td>
            <button (click)="delete(folder)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>